*.csv
*.java
*.avsc
*.graphql
*.json
*.ts
*.dot
*.svg
*.egg-info/
*.egg
.venv
.env
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
*vss_rel*
*__pycache__*
permissions.yaml
.idea
.python-version

